/* start page */
.start-container {
  margin-top: 109px;
  text-align: center;
}

h1,
h3 {
  font-family: "Irish Grover", cursive;
}

h1 {
  color: #ea1152;
  margin: 19px 0 31px;
  font-size: 36px;
  letter-spacing: 0.085em;
}

.start-container h3,
p {
  color: white;
  font-size: 14px;
}

.start-container p:first-of-type {
  margin: 0 0 19px;
}

.start-container p:last-of-type {
  margin-top: 16px;
}

.start-btn {
  width: 218px;
  height: 42px;
  background-color: #ea1152;
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn h3 {
  font-size: 24px;
  letter-spacing: 0.05em;
}

/* genre select page */

.genre-select-container {
  margin: 0 15px;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}

.skip-btn {
  margin: 0;
  font-size: 16px;
}

h2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 23px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.genre-list li {
  width: 112px;
  height: 154px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.genre-list li img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.genre-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 5px;
  background-color: #1b1a1a;
  opacity: 60%;
}

.genre-option input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: 1;
  cursor: pointer;
}

.genre-option .genre-list li p {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  color: white;
}

.genre-option .genre-list li p .checked {
  color: #ea1152;
}

/* home page */
.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.banner-section .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-btn {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 45px;
}

.banner-menu {
  width: 100%;
  position: absolute;
  top: 0;
}

.banner-menu .row:first-child {
  display: flex;
  justify-content: space-between;
  margin: 45px 15px 0;
}

.banner-section .row .column-half {
  display: flex;
  align-items: center;
}

.banner-section .row .column-half .edit-btn {
  font-size: 12px;
  padding-left: 7px;
}

.genre-tag {
  padding: 0;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.genre-tag-inner {
  font-size: 14px;
  color: white;
  background-color: #575757;
  opacity: 70%;
  border-radius: 50px;
  display: inline;
  margin: 0 11px 11px 0;
  padding: 7px 14px;
}

.row .genre-tag .genre-tag-inner .checked {
  background: #ea1152;
}

.movie-section .row .column-full:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 21px 15px 9px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0;
}

view-all {
  margin: 0;
}

.movie-list {
  padding: 0;
  margin-left: 15px;
  display: flex;
}

.movie-list li img {
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 849px) {
  .banner-img-box {
    width: 390px;
    height: 545px;
  }

  .movie-list li {
    width: 94.5px;
    height: 130px;
    margin-right: 10px;
  }
}
