/* start page */
.start-container {
  margin-top: 109px;
  text-align: center;
}

h1,
h3 {
  font-family: "Irish Grover", cursive;
}

h1 {
  color: #ea1152;
  margin: 19px 0 31px;
  font-size: 36px;
  letter-spacing: 0.085em;
}

.start-container h3,
p {
  color: white;
  font-size: 14px;
}

.start-container p:first-of-type {
  margin: 0 0 19px;
}

.start-container p:last-of-type {
  margin-top: 16px;
}

.start-btn {
  width: 218px;
  height: 42px;
  background-color: #ea1152;
  border-radius: 4px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-btn h3 {
  font-size: 24px;
  letter-spacing: 0.05em;
}

/* nav-container */

.nav-container {
  position: fixed;
  bottom: 0;
  background-color: #1b1a1a;
  width: 100%;
  border-top: 0.5px solid white;
}

.nav-list {
  width: 390px;
  height: 52px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0 auto;
}

.nav-item {
  height: 100%;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
  text-decoration: none;
  flex-grow: 1;
  height: 100%;
  min-width: 50px;
}

.nav-link i {
  padding-top: 18px;
  color: #6f6f6f;
}

.nav-link span {
  font-size: 10px;
  margin-top: 10px;
  color: #6f6f6f;
}

/* genre select page */

.genre-select-container {
  margin: 0 15px;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 54px;
}

.skip-btn {
  margin: 0;
  font-size: 16px;
}

h2 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 23px;
}

.genre-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin: 0;
}

.genre-list li {
  width: 112px;
  height: 154px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}

.genre-list li img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.genre-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  border-radius: 5px;
  background-color: #1b1a1a;
  opacity: 60%;
}

.genre-option input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  appearance: none;
  z-index: 1;
  cursor: pointer;
}

.genre-option .genre-list li p {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  color: white;
}

.genre-option .genre-list li p .checked {
  color: #ea1152;
}

/* home page */

.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-container .banner-section {
  width: 390px;
  height: 545px;
}

.home-container .banner-img-box {
  width: 100%;
  height: 100%;
}

.home-container .movie-section {
  flex-basis: 100%;
}

.home-container .banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-container .banner-menu {
  position: absolute;
  top: 45px;
}

.home-container .banner-menu .row-one {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px;
  position: relative;
}

.edit-btn {
  display: flex;
  align-items: center;
}

.column-half .edit-btn img {
  margin-right: 7px;
}

.row-one .column-half .edit-btn p,
.view-all {
  margin: 0;
}

.home-container .banner-menu .row-two .genre-tag {
  padding: 0;
  margin: 0 30px;
  display: flex;
  flex-wrap: wrap;
}

.home-container .banner-menu .row-two .genre-tag .genre-tag-inner {
  font-size: 14px;
  color: white;
  background-color: #575757;
  opacity: 70%;
  border-radius: 50px;
  display: inline;
  margin: 8px 11px 0 0;
  padding: 7px 14px;
}

.column-full .movie-list li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-section .row-one .column-full:first-child {
  width: 390px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 21px 15px 9px;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0;
}

.movie-list {
  display: flex;
  padding: 0;
  margin: 0 0 0 15px;
}

.movie-list li {
  width: 94.5px;
  height: 130px;
  margin-right: 10px;
}

.movie-section .row-one .column-full:last-child {
  background-color: yellow;
  overflow-x: auto;
}
